@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body{
  font-family: 'Kanit', sans-serif;
}

.navbar-brand{
  font-family: 'Titan One', cursive;
}

.App{
  background-image: linear-gradient(whitesmoke, rgb(199, 199, 255));
  height: 100vh;
}